.account-activity{
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    margin: auto;
}

.recent-activity {
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: white;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 40px;
    width: 100%;
}

.platform-summary {
    gap: 40px;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: white;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 40px;
}

.paltform-summary-info{
    margin-bottom: 25px;
}

.top-div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.account-activity-table {
    width: 100%;
    background-color: white;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 20px;
}

.login-trends{
    width: 100%;
    height: 350px;
    background-color: white;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

#filterForm {
    background: #f7f7f7;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: flex-row;
    align-items: center;
    gap: 16px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

#filterForm label {
    color: #333;
    font-size: 14px;
    font-weight: 600;
}

#filterForm select,
#filterForm input {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#filterForm select:focus,
#filterForm input:focus {
    border-color: #4a6741;
}

#filterForm select:hover,
#filterForm input:hover {
    border-color: #4a6741;
}

.chart-container {
    position: relative;
    width: 80%;
    height: 220px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
}

.activity-table-div {
    width: 100%;
    max-height: 1000px;
    overflow-y: scroll;
}

.recent-activity h3,
.platform-summary h3,
.login-trends h3 {
    margin: 5px;
}

.platform-summary h3 {
    margin-bottom: 20px;
}

.recent-activity h5,
.login-trends h5,
.platform-summary h5 {
    font-family: 'Newsreader', serif;
    font-weight: bold;
    margin-bottom: 20px;
}

@media(max-width: 1000px) {
    .activity-table-div {
        max-height: unset;
        overflow-x: scroll;
    }

    .top-div {
        flex-direction: column;
    }

    #filterForm {
        flex-direction: column;
    }
}