footer {
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 4em;
}

h3 {
    padding: 0;
    margin: 0;
}

.footerlinks li {
    list-style-type: none;
    padding: 0.5em;
}

.footerlinks ul {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    padding: 0;
    margin: 0;
}

@media (max-width: 880px) {
    footer {
        flex-direction: column;
        gap: 1.5em;
    }
}