@media (max-width: 880px) {
    body {
        margin-top: 10em !important;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fcfffd;
    color: #333;
}

h1, h3 {
    font-weight: 600;
    font-family: "Newsreader", serif;
}

.container {
    margin-top: 60px;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

h3 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    color: #555;
}

a.cta,
button.cta {
    border-radius: 0.4em;
    text-decoration: none;
    background-color: #426B1F;
    padding: 0.75em 1.25em;
    color: white;
    border: none;
    box-shadow: 0px 0px 4px rgb(126, 126, 126);
    transition: background-color ease-in-out 0.25s, transform ease-in-out 0.25s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a.cta:hover,
button.cta:hover {
    background-color: #345418 !important;
}

.hover-raise {
    transition: transform ease-in-out 0.25s;
}

.hover-raise:hover {
    transform: translate(0px, -3px);
}

h3.cta,
h3.cta * {
    margin: 0;
    font-weight: 400;
    padding: 0;
    color: #426B1F;
    transition: color ease-in-out 0.25s, transform ease-in-out 0.25s;
}

h3.cta:hover,
h3.cta:hover * {
    color: #345418;
}