@media (max-width: 880px) {
    body {
        margin-top: 10em !important;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

button, 
a, 
input[type="submit"],
input[type="button"],
.material-symbols-outlined,
.search-button,
button:focus,
button:active,
.material-symbols-outlined:focus,
.material-symbols-outlined:active,
span:focus,
span:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fcfffd;
    color: #333;
}

h1, h3 {
    font-weight: 600;
    font-family: "Newsreader", serif;
}

.container {
    margin-top: 60px;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

h3 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    color: #555;
}

.bg-dark p {
    color: #e0e0e0 !important;
}

a {
    text-decoration: none;
    color: black;
}

a.cta,
button.cta {
    border-radius: 0.4em;
    background-color: #426B1F;
    padding: 0.75em 1.25em;
    color: white;
    border: none;
    box-shadow: 0px 0px 4px rgb(126, 126, 126);
    transition: background-color ease-in-out 0.25s, transform ease-in-out 0.25s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

a.cta:hover,
button.cta:hover {
    background-color: #345418 !important;
}

.hover-raise {
    transition: transform ease-in-out 0.25s;
}

.hover-raise:hover {
    transform: translate(0px, -3px);
}

h3.cta,
h3.cta * {
    margin: 0;
    font-weight: 400;
    padding: 0;
    color: #426B1F;
    transition: color ease-in-out 0.25s, transform ease-in-out 0.25s;
}

h3.cta:hover,
h3.cta:hover * {
    color: #345418;
}

a.cta .material-symbols-outlined,
button.cta .material-symbols-outlined {
    color: white !important;
    margin-right: 6px !important;
    font-size: 1.15em !important;
}

body {
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.bg-dark {
    background-color: #121212;
    color: #f5f5f5;
}

.bg-dark .settings-container {
    background-color: #1e1e1e !important;
    color: #ffffff !important;
}

.bg-dark .profile-container {
    background-color: #1e1e1e !important;
    color: #ffffff !important;
}

.bg-dark .tabs-nav a {
    color: #ffffff !important;
}

.dark-mode table {
    background-color: #2c2c2c;
}

.dark-mode th {
    background-color: #37474f;
}

.dark-mode td {
    color: #ffffff;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 25px;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3.5px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: #2d5a27;
}

input:checked + .slider::before {
    transform: translateX(24px);
}

.bg-dark .settings-container {
    border: none !important;
}

.bg-dark .scrollable-container {
    background-color: #1e1e1e !important;
    color: #ffffff !important;
}

.bg-dark.container-page .container {
    background-color: #1e1e1e !important;
}
