.category-container {
    gap: 18px;
    margin-top: 30px;
}

.category-button {
    border: 2px solid #ddd;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    color: #222;
    background-color: #fcfffd;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 28px 32px;
    font-weight: 600;
}

.category-button:hover {
    background-color: #444;
    color: white;
    transform: scale(1.05);
    box-shadow: 3px 3px 8px rgba(0, 86, 179, 0.3);
}

.product-cards-container {
    display: flex;
    justify-content: center;
    gap: 3em;
    flex-wrap: wrap;
    margin-top: 40px;
}

.view-more-container {
    display: flex;
    justify-content: center;
}

.contact-form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.bg-dark .contact-form-container {
    background-color: #1e1e1e;
}

form input, form textarea {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 0.75em;
    width: 100%;
}

.form-label {
    font-family: "Newsreader", serif;
    color: #426B1F;
}