.product-page {
    margin: auto;
    width: 80%;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 16px;
    border: #DDD solid 2px;
}

.bg-dark .product-image{
    border: none !important;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    max-width: 80%;
    height: auto;
    object-fit: cover;
}

.img img:hover, .seller-info:hover{
    transform: translateY(-3px) scale(1.02);
}


.desc {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-direction: row;
}

.quantity-add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.form-control {
    width: 50%;
    height: 100%;
    margin: 0;
}

.atc {
    width: 50% !important;
}

.search-form {
    height: 40px !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between;
    max-width: 300px;
    padding: 0 10px;
    background-color: #f9f9f9;
    border-radius: 20px;
    overflow: hidden;
}

.search-input {
    height: 100% !important;
    padding: 8px 12px !important;
    font-size: 16px;
}

.search-button {
    height: 100% !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.seller-info {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}

#category-btn {
    font-size: 10px;
    padding: 4px 12px;
    border-radius: 50px;
    border: 1px solid #6c757d;
    background-color: transparent;
    width: 20%;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1rem;
    display: inline-block;
}

#category-btn:hover {
    background-color: #6c757d;
    color: white;
    transform: translateY(-3px) scale(1.02);
}


#price-label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    margin-top: 1rem;
}

.price-category-container {
    display: flex;
    align-items: center;
    gap: 10px;
}


