.profile-container {
    margin: auto;
    padding: 20px;
    text-align: center;
    height: auto;
    flex-wrap: nowrap;
}

.profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: 80%;
    margin: auto;
    margin-bottom: 3rem;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.profile-image img:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.profile-info h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.profile-info p {
    color: #666;
    margin-bottom: 1.2rem;
}

.profile-buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.settings-btn,
.orders-btn {
    padding: 8px 16px;
    background-color: #426B1F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.settings-btn:hover,
.orders-btn:hover {
    background-color: #345418;
}

.tabs-nav {
    display: flex;
    position: relative;
    width: 80%;
    margin: auto;
    background: #d7d7d79b;
    border-radius: 25px;
    padding: 5px;
    justify-content: space-around;
    overflow: hidden;
    align-items: center;
    max-height: 40px;
    margin-bottom: 3rem;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.tab-pane {
    display: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    width: 100%;
}

.tab-pane.active {
    display: block;
    opacity: 1;
    visibility: visible;
}

.tabs-nav a,
.tab-link {
    display: block;
    width: 100%;
    z-index: 2;
    text-align: center; 
    font-size: 16px;
}

.profile-info a.r-btn {
    display: flex !important;
    gap: 5px !important;
    background: rgba(255, 255, 255, 0.5);
    color: #222;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.profile-info a.r-btn.active {
    background: #426B1F;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    color: white;
}

.profile-info a.r-btn.active .material-symbols-outlined {
    color: white !important;
    transition: none;
}


.profile-buttons .material-symbols-outlined {
    color: black;
    font-size: 22px;
}

.profile-info a.r-btn:hover {
    background: #426B1F;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    color: white;
}

.profile-info a[href*="logout"]:hover {
    background: #626262;
}

.profile-info a.r-btn:hover .material-symbols-outlined {
    color: white !important;
    transition: none;
}

#basket-btn .badge {
    right: 25px;
}

.header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1100px) {
    .reviews-containers, .sales-container {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;
    }

    .reviews-summary-outer,
    .sales-summary {
        flex: none !important;
        min-width: auto !important;
        height: auto !important;
        max-height: none !important;
        width: 100%;
    }

    .orders-table,
    .tabs-nav {
        width: 100% !important;
    }
    
    .reviews-summary {
        overflow-y: visible !important;
        overflow-x: scroll;
        width: 100%;
        font-size: 0.8em;
        height: auto !important;
        max-height: none !important;
    }

    .activity-container {
        padding: 10px;
    }
    
    .activity-scroll {
        overflow-x: auto !important;
        width: 100% !important;
    }

    .rating-summary, .earnings-summary {
        max-width: unset !important;
    }
}

@media (max-width: 780px) {
    .profile-header {
        flex-direction: column;
        
    }

    .profile-info {
        align-items: center;
        text-align: center;
        margin-bottom: 1em;
    }

    .tab-link,
    .header-btn,
    .orders-table {
        font-size: 0.75em !important;
    }

    .header-btn,
    .tab-link {
        white-space: nowrap;
    }

    .header-btn span {
        font-size: 1em !important;
    }

    .desktop-only {
        display: none;
    }
}

.alert.short{
    width: 80%;
    align-self: center;
    justify-self: center;
}