.profile-container {
    max-width: 1800px;
    margin: auto;
    padding: 20px;
    text-align: center;
    height: auto;
    flex-wrap: nowrap;
}

.reviews-containers {
    width: 1800px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.container {
    flex-wrap: wrap !important;
    margin: 20px !important;
    padding: 0px !important;
}

.scrollable-container {
    flex-grow: 0;
    height: auto;
    min-height: 0;
    overflow-y: auto;
    margin-bottom: 40px;
}

.profile-info{
    flex-wrap: wrap !important;
    margin-top: 15px;
    margin-right: 40px;
}

.text-center{
    justify-self: center;
}

.listings-title{
    display: block;
    width: 100%;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
}

.profile-pic {
    display: block;
    width: 280px;
    height: 265px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    flex-shrink: 0;
}

.profile-details {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.profile-name {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.rating-score {
    font-size: 20px;
    color: #2a9d8f;
}

.user-products {
    margin-top: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background: white;
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.rating-summary {
    background: #fff;
    color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1; 
    width: 300px;
    height: 350px;
    max-width: 300px;
}

.reviews-summary{
    background: #fff;
    color: #1e1e1e;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    flex: 1; 
    height: 350px;
    min-width: 500px;
}

.rating-overall {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rating-score {
    font-size: 32px;
    font-weight: bold;
    color: #345418;
}

.stars {
    font-size: 22px;
    color: #345418;
}

.rating-count {
    font-size: 14px;
    color: #aaa;
}

.rating-bars {
    margin-top: 15px;
}

.rating-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.bar {
    width: 200px;
    height: 8px;
    background: #fff;
    border-radius: 4px;
    position: relative;
}

.filled {
    height: 100%;
    background: #345418;
    border-radius: 4px;
}

.contact-label{
    margin: 0 !important;
}
